body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #0f2027, #203a43, #2c5364);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #d13613;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
  max-width: 1100px;
}

.card {
  background: rgba(0,0,0,.45);
  border-radius: 20px;
  padding: 1.8rem;
  box-shadow: 0 0 30px rgba(0,0,0,.6);
  text-align: center;
  transition: .4s;
}

.card:hover {
  transform: translateY(-6px);
}

.today {
  border: 2px solid #eb2f2f;
  box-shadow: 0 0 25px #e24406;
}

.title {
  font-size: 1.4rem;
  color: #e14300;
  margin-top: 1rem;
}

.desc {
  font-size: 0.95rem;
  opacity: 0.9;
  line-height: 1.4;
}
